.background {
    background-image: url('https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/07/ba/5c/49.jpg');
    background-size: contain;
    padding: 70px;
}
.text{
  color: #ffff;
}

.tabs {
    color: #ffff;
    padding-right: 0.9rem;
}

.tabs:hover {
    color: var(#ffff);
}
.channels{
    padding-top: 30px;
    padding-bottom: 20px;
}
.heading{
  padding-top: 8px;
  padding-bottom: 14px;
  color: #ffff;
}
.ch{
  padding-bottom: 10px;
} 

.form-container {
  position: fixed;
  min-width: 50vw;
  min-height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1001;
  padding: 20px;
}

.form-background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}