/* styles.css */
.markdown-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    font-size: 16px;
  }
  
  .markdown-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .markdown-content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .markdown-content ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .markdown-content li {
    margin-bottom: 10px;
  }
  
  .button_dropbtn{
    padding-bottom: 50;

  }
  .section-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .laws{
    background-color: #070F2B;
  }

  .section-title{
    color: #9290C3;
  }


 .law {
  margin-top: 30px;
  color: white;
 }
  
  /* Add more styles as needed */
  